header, footer {
    font-family: 'Lato', sans-serif;
    padding: 1% 1% 1% 1%;
}

header {
    position: fixed;
    top: 0;
    margin-top: 0;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    background-color: #475469;
    color: #ffffff;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
}

a {
    color: inherit;
    text-decoration: none;
}

.links {
    width: 65%;
    margin-right: 3%;
}

.links a {
    display: block;
    float: right;
    text-align: center;
    padding: 2%;
}

.links a:hover{
    color: #000000;
    background-color: #e6e6e6;
}

.title{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1%;
    font-size: 1.1em;
}

h1 {
    font-size: 3em;
    text-align: center;
}

section {
    margin-top: 10%;
    margin-left: 3%;
    margin-right: 3%;
}

.imgLinks_index {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 0%;
    margin-top: 5%;
}

.imgLinks_index a{
    text-align: center;
}

section img {
    width: 45%;
    height: 45%;
}

.factoryImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.feedback {
    display: flex;
    justify-content: center;
}

.description {
    width: 50%;
    text-align: right;
    vertical-align: text-top;
}

.text {
    width: 100%;
    height: 100%;
}

.longText {
    height: 10em;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
}

.gridElem {

    text-align: center;
    padding: 2%;
}

figure {
    margin: 0;
}


figcaption {
    text-align: center;
    font-size: 1.1em;
    width: 200px;
}

.gridElem img{
    width: 200px;
    height: 200px;
}


.price {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-top: 4px;
}

.priceBox{
    padding-top: 5%;
    display: flex;
    align-content: baseline;
}

.buyButton{
    background: none;
    border: none;
    padding: 0;
    height: 2em;
}

.gridElem .priceBox .buyImg{
    width: 2em;
    height: 2em;
}

.productDescription {
    display: block;
    font-size: 0.8em;
    font-style: italic;
}

#submitButton {
    font-size: 1.1em;
    text-align: center;
    height: min-content;
    width: min-content;
}

blockquote {
    width: 30%;
    padding: 0;
}

footer {
    margin-top: 2%;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    background-color: #627491;
}

.links .icon{
    display: none;
}

.feedbackSelections {
    display: grid;
    grid-template-columns: repeat(2,4fr);
}

.feedbackGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin-right: 20%;
    margin-left: 20%;
}

.feedbackColumn{
    display: grid;
    grid-template-rows: repeat(4,1fr) 200px 1fr;
    margin-left: 1%;
    margin-right: 1%;
}

.feedbackText {
    text-align: right;
    margin: 2%;
}

.feedbackInput{
    margin: 2%;
    display: flex;
    justify-content: space-between;
}

.text {
    height: min-content;
}

#feedbackField {
    vertical-align: top;
    height: auto;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .links a:not(:first-child) {display: none;}
    .links a.icon {
        float: right;
        display: block;
    }

    .links {
        width: 40%;
    }

    .imgLinks_index {
        grid-template-columns: repeat(1, 3fr);
        margin-left: 0%;
        margin-top: 5%;
    }

    h1 {
        margin-top: 10%;
        font-size: 2em;
    }

    .feedbackGrid {
        margin: 0;
    }

    .feedbackInput {
        display: grid;
        grid-template-columns: 1fr;
    }

    blockquote {
        margin: 0;
        padding: 2%;
        width: 100%;
    }

    address {
        margin-top: 3%;
        margin-bottom: 3%;
        padding-left: 2%;
    }

    footer {
        flex-direction: column;
        align-content: center;
    }

}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .links.responsive {position: relative;}
    .links.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .links.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .title.responsive {
        display: none;
    }

    .links.responsive {
        width: 100%;
        margin-right: 0;
    }

}