form {
    width: 370px;
    background-color: #eee;
    padding: 20px;
    border: solid #8c8c8c;
}

label {
    display: block;
}

#absender, #nachricht {
    width: 300px;
    border: 1px dashed #8c8c8c;
    margin-bottom: 1em;
}

#nachricht {
    height: 7em;
}

#absender:focus, #nachricht:focus{
    background-color: #d9d9d9;
}

